# Ignore all Python files in this directory
*.py

# Ignore user-specific requirements
requirements.txt

# But keep package files and shared libraries
!__init__.py
!lib/
!lib/**/*.py

# And keep the examples
!examples/
!examples/**/*.py
